<% content_for :locale do %>
  <span class="locale"><%= @locale.language_name %></span>
<% end %>

<% content_for :head do %>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="<%= tolk_locale_path(@locale, :format => 'atom') -%>" />
<% end %>

<div id="locale-nav">
  <%= link_to "All Translations", tolk_locale_path(@locale, :filter => Tolk::Locale::ALL), :class => (@filter_by == Tolk::Locale::ALL ? 'current' : nil) %>
  <span class="count">(<%= Tolk::Phrase.count %>)</span>
  <span class="divider">|</span>

  <%= link_to "Missing Translations", tolk_locale_path(@locale, :filter => Tolk::Locale::MISSING), :class => (@filter_by == Tolk::Locale::MISSING ? 'current' : nil) %>
  <span class="count">(<%= @locale.count_phrases_without_translation %>)</span>
  <span class="divider">|</span>


  <%= link_to "Completed Translations", tolk_locale_path(@locale, :filter => Tolk::Locale::COMPLETED), :class => (@filter_by == Tolk::Locale::COMPLETED ? 'current' : nil) %>
  <span class="count">(<%= @locale.translations.count %>)</span>
</div>

<% if @locale.has_updated_translations? && action_name != 'updated' %>
  <span class="notice">Some phrases have changed. <%= link_to "Update translations", updated_tolk_locale_path(@locale) %>.</span>
<% end %>

<div class="search">
  <%= render :partial => "tolk/searches/form", :locals => { :locale => @locale } %>
</div>

<div class="translations">
  <% if @phrases.any? %>
      <table class="translations">
        <tr>
          <th class="translation"><%= @locale.language_name -%></th>
          <th class="key"><%= Tolk::Locale.primary_language_name -%></th>
        </tr>
        <% @phrases.each do |phrase| %>
          <tr>
            <% translation = Tolk::Translation.find_or_initialize_by_locale_id_and_phrase_id(@locale.id, phrase.id) %>
            <td class="translation">
              <%= render :partial => 'tolk/translations/translation', :locals => { :translation => translation } %>
            </td>
            <td class="phrase">
              <% if params[:q].present? -%>
                <%= highlight(format_i18n_value(phrase.translations.primary.text), params[:q]) -%>
              <% else -%>
                <%= format_i18n_value(phrase.translations.primary.text) -%>
              <% end -%>
              <span class="key" title="<%= phrase.key %>"><%= truncate(phrase.key, :length => 100) %></span>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <div class="paginate">
      <%= will_paginate @phrases, :renderer => Tolk::LinkRenderer %>
    </div>
  <% else %>
    <p style="text-align: left">There aren't any missing or updated phrases that need translation.</p>
    <p>&nbsp;</p>
</div>
